.wrapper {
    @media screen and (min-width: 64rem) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
}
.form {
    background-color: white;
    &__col{
        flex-direction: column;
        justify-content: space-between;
    }
    input, button {
        width: 100%;
    }
}
.contacts {
    li {
        @media screen and (min-width: 64rem) {
            display: grid;
            grid-template-columns: 1fr 1fr 1.5fr 2fr .5fr;
            align-items: center;
        }
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        gap: 0.5rem;
    }
    padding-bottom: 8rem;
    @media screen and (min-width: 64rem) {
        padding-bottom: 6rem;
    }
}
aside {
    background: whitesmoke;
    padding:2rem;
    position: fixed;
    left: 0;
    width: 100vw;
    bottom: 0;
    align-self: center;
    justify-content: space-evenly;
    align-content: center;
    input {
        width: 80% !important;
    }
}
.inactive {
    display: none;
}
// .fixed {
//     position: fixed;
//     top:0;
//     z-index: 10;
//     //position: relative;
//     &:after {
//         content:'';
//         display: block;
//         background-color: rgba(255,255,255,.8);
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100vw;
//         height: 100vh;
//         z-index: -10;
//     }
// }